{% load static %}
<style> .about{ color: white; }	</style>

<div class="row" style="margin-top: 100px; padding: 5px; ">
<div class="col-md-12" > 
<div class="jumbotron" style="background-color: #42413e  " width="100%" height="300px">
  <!-- <h1 class="display-4 text-center" >Project by : Deepak Rawat(IITS) </h1> -->
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" > 
    <h2 class="about">  Project by:  <h2>
    <h3 class="about"> Preeti Bajoliya </h3>
    <p class="about"> <i class="fa fa-phone-square" aria-hidden="true"></i>: 81200495656  <br>
                     <i class="fa fa-envelope" aria-hidden="true"></i>: preetibajoliya000.com <br>

                  
    </p>
     </div>
    <div class="col-sm-4">
    <h3 class="about"> About website:</h3>
    <p class="about"> This is a multi-media web application , 
                      here you hear, watch and download your favourite songs, videos, movies </p>
    <hr style="background-color: white; ">
    <p class="about" style="margin-top: 100px;">© Copyright 2020 2021 - musicWOrld.com</p>	
     </div>
    <div class="col-sm-4">
       <h3 class="about"> home</h3>
        <p class="about">mp3 music </p>
        <p class="about">movies </p>	
        <p class="about">video songs </p>
        <p class="about">instrumental   </p>
        <p class="about">bhajan </p>
        
     </div>
    </div>
   </div>
  </div>
 </div>
</div>